@import "../../styles/variables.sass"

.banner
    width: 100%
    height: 539px
    background-size: cover !important
.btn
    border: 0
    border-radius: border-radius-4
    padding: 5.5px 50px
    display: block
    width: fit-content
.btn--red
    background: $main-red
    color: #fff
    &:hover
        transition: .4s ease-in-out
        background: $hover-link
        color: #fff
.title
    font-size: 49px
    color: #23272b
    text-align: center
.subtitle
    font-size: 14px
    text-align: center
    line-height: 1
    word-spacing: 2px
.card-text--test
    padding: 96px 0 112px 31px
.card-text
    &__title
        font-size: 44px
        width: 95%
        color: #fff
        line-height: 50px
    &__description
        font-size: 14px
        width: 93%
        line-height: 1.6
        color: #fff
        padding: 14px 0 17px 0
        word-spacing: 0.2px
    &__btn
        margin: -3px 0 0 -2px
.title--laptop
    font-size: 44px
    padding: 143px 0 10px 0
.card
    border: 0
    &__img
        width: 92%
        max-width: 340px
    &__info
        margin-left: -13px
    &__title
        font-size: 24px
        line-height: 1
    &__description
        font-size: 14px
        line-height: 21px
        padding-top: 12px
        word-spacing: 1px
        &:nth-child(3)
            padding-top: 8px
    &__link
        font-weight: 600
        line-height: 47px
        color: $main-red
        &:hover
            color: $hover-link
            text-decoration: none
            transition: .4s ease-in-out
.card--laptop
    padding: 44px 32px 120px 49px
.users
    background: #f9f9f3
    padding-bottom:: 160px
    &__box
        padding-top: 63px
        position: relative
    &__btn 
        position: absolute
        margin: auto
        padding: 6.5px 53px
        left: 0
        right: 0
        bottom: -17px
.title--users
    font-size: 45px
    padding: 144px 0 10px 0
.card--user
    margin-bottom: 49px
    text-align: center
    background: transparent
    .card__img
        margin: 0 auto
        width: 65px
        height: 65px
        border-radius: 50% 
    .card__title
        font-size: 22px
        padding-top: 14px
        line-height: 1.2
    .card__title--limit
        width: 83%
        margin: 0 auto
    .card__description
        padding-top: 0
        word-spacing: 3px
        margin-bottom: 0px
    .card__mail,
    .card__phone
        font-size: 14px
    .card__message
        display: none
        width: fit-content
        background: #323231
        position: absolute
        left: 0
        right: 0
        top: 41px
        padding: 3px 11px
        margin: 0 auto
        margin-left: 10px
        border-radius: $border-radius-4
        color: #fff
    .card__mail
        position: relative
        letter-spacing: 0.3px
        &:hover
            .card__message
                transition: .4s ease-in-out
                display: block
    .card__phone
        letter-spacing: 0.4px
// USER FORM
.user-form
    display: flex
    flex-direction: column
    align-items: center
    &__title
        font-size: 46px
        padding-top: 134px
    &__subtitle
        padding-top: 5px
        width: 46%
        margin: 0 auto
        line-height: 22px
    &__form 
        width: 100%
        max-width: 422px
        padding: 20px 0 114px 0
    &__custom-file
        position: relative
        margin-top: 23px
    &__custom-lable
        position: absolute
        top: -25px
    &__download-lable
        font-size: 14px
    &__btn
        margin: 35px auto
    &__message
        font-size: 12px
        color: #db3445
.form
    &__label
        font-size: 12px
    &__area
        &::placeholder
            font-size: 14px
    &__group
        margin-top: -3px
        &:first-child
            margin-top: 0
    &__position
        font-size: 13px
        padding: 25px 0 17px 0
    &__custom-control
        padding-bottom: 2px
@media screen and (min-width: 992px)
    .offset-lg-1
        margin-left: 6.2%
@media screen and (max-width: 768px)
    .card-text
        &__title
            font-size: 39px
            width: 58%
            margin-top: -37px
            line-height: 45px
            word-spacing: 3px
        &__description
                font-size: 16px
                width: 66%
                line-height: 1.5
                padding: 21px 0 17px 0
        &__btn
            margin: 0px 0 0 -2px
            padding: 8.5px 60px
    .banner
        height: 600px
    .title--laptop
        font-size: 39px
        padding: 17px 0 10px 0
    .card--laptop
            padding: 51px 32px 62px 24px
    .card
        &__info
            margin-left: -25px
        &__description
            font-size: 15px
            line-height: 24px
            padding-top: 15px
            word-spacing: 2px
    .title--users
            font-size: 40px
            padding: 151px 0 14px 0
    .subtitle
        font-size: 15px
    .users__btn 
        padding: 6.5px 63px
        bottom: -36px
    .card--user
        margin-bottom: 118px
    .user-form
        padding: 0 15px
        &__title
            font-size: 39px
            padding-top: 39px
        &__subtitle
            width: 60%
            line-height: 24px
            padding-top: 9px
        &__form
            max-width: 465px
            padding: 27px 0 114px 0px
            margin-left: 10px
        &__btn
            margin-top: 43px
            margin-bottom: 6px
            padding: 7.5px 59px
    .form
        &__label
            font-size: 14px
            padding-bottom: 7px
@media screen and (max-width: 576px)
    .banner
        height: auto
    .card--laptop 
        width: 100%
        padding: 0 0 40px 0
    .card-text--test
        padding: 96px 0 70px 31px
    .card-text
        &__title
            font-size: 28px
            width: 100%
            margin-top: -37px
            text-align: center
            line-height: 45px
            word-spacing: 0
        &__description
            font-size: 14px
            text-align: center
            width: 100%
        &__hide
            display: none
        &__btn
            margin: 0
            margin: 0 auto
    .title--laptop
        font-size: 28px
        padding: 20px 0 15px 0
    .card
        &__info
            margin: 0
            padding-top: 20px
        &__link
            display: block
            text-align: center
    .title--users
        font-size: 32px
        padding: 60px 0 14px 0
    .subtitle
        font-size: 14px
        word-spacing: 0
    .users
        padding-bottom: 60px
        &__box
            padding-top: 40px
    .card--user
        margin-bottom: 40px
    .user-form
        &__title
            font-size: 28px
        &__subtitle
            width: 90%
