@import "../../styles/variables.sass"

.modal-content
    width: 75%
    margin: 0 auto
.modal-dialog
    height: 100%
    position: absolute
    left: 0
    right: 0
    top: calc(50% - 200px)
.modal 
    display: block
    background: #00000069
    &__btn
        color: #fff
        background: $main-red
        &:hover
            color: #fff
            transition: .4s ease-in-out
            background: $hover-link