@import "../../styles/variables.sass"
.header
    width: 100%
    max-width: 930px
    padding: 15px 0 10px 14px
    background: #fff
    z-index: 1000
    top: 0
.fake-header
    width: 100%
    max-width: 1024px
    height: 55px
.logo
    display: flex
    &:hover
        text-decoration: none
    &__img
        margin-left: -2px
        width: 28px
        height: 24px
    &__title
        font-size: 16px
        font-weight: 600
        letter-spacing: 2.2px
        color: #24282c
        padding: 3px 0 0 6px
.navigation-menu
    &__list 
        list-style: none
        margin: 0
        padding: 0
        display: flex
        justify-content: space-around
    &__link
        font-size: 14px
        color: #222222
        &:hover
            text-decoration: none
            color: red
            transition: .4s ease-in-out
        &:active
            color: $active-link
.burger
    display: none
.burger-menu
    width: 80vw
    display: none
    &__list
        list-style: none
    &__item
        line-height: 30px
        &:first-child
            padding: 9px 0 0 0
    &__link
        text-decoration: none
        color: #24282c
        &:hover
            text-decoration: none
            color: #24282c
@media screen and (max-width: 768px)
    .logo
        margin-left: 15px
        &__img
            margin-left: -16px
            margin-top: 3px
            width: 28px
            height: 24px
        &__title
            font-size: 15px
            font-weight: 600
            letter-spacing: 4.2px
            color: #24282c
            padding: 6px 0 0 10px
    .navigation-menu
        display: none
    .burger
        display: block
        width: 20px
        height: 14px
        line-height: 28px
        &__img
            width: 100%
            height: 100%
    .row 
        margin-right: 0
        margin-left: 0
    .burger-menu
        background: #fff
        position: absolute
        top: 0
        left: 0
        display: block
        z-index: 9999